# Dependencies
node_modules

# Build output
dist

# Development
.env
.env.*
*.log

# Version control
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
LICENSE

# CI/CD
.github
